/* Put your css in here */


.profile {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
}

.profile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.name {
  margin : 2px 1px;
  
  
}
.title{
  margin : 5px 1px;
  
}
.profcont {
    padding: 16px 16px;
}
ul {
  
  list-style-type :none;
}
ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		ul.tabs li.current{
			background: #ffffee;
			color: #222;
		}

		.tab-content{
			display: none;
			background: #ffffff;
			padding: 15px;
  
		}

		.tab-content.current{
			display: inherit;
		}
		
	.SkillSearchContainer {
	    text-align: left;
		width: 70%;
		
	}
	.skillSearchInput {
	    padding:8px;
	    
	    text-align: center;
	}  
	
  .skills {
    margin: 10px 10px;
    padding : 1px 1px;
     
  }	
	
.error {
  color : red;
}
